body {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 20.25px;
	font-weight: 300;
	line-height: 26px;
	padding-top: 150px;
    position: relative;	
}

h1 {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-weight: 300;
	line-height: 26px;
	color: #fff; /* laranja */
}

h3 {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 35.25px;	
	font-weight: 300;
	line-height: 30px;
	color: #fff;
	padding-top: 5px;
}

.destaque {
	background-color: #7a9f1f;
	height: 50px;
	width: 100%;
	background-color: #000;
	margin: 0px auto;
	
}

.topo {
	min-height: 160px;
	background-color: #7a9f1f;
	background-image: url("../imagens/bg-topo.png");	
	-background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

.distanciaMenuTopo {
	padding-top: 55px;
}


.bg-slider {
	background-color: #7a9f1f;
	border-bottom: 7px solid;
	border-color: #527400;
}

.descricao {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 20.25px;
	font-weight: 300;
	line-height: 26px;
	color: #000;
}

.texto {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 18.25px;
	font-weight: 300;
	line-height: 26px;
	color: #527400;
}

.textoCopy {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 18.25px;
	font-weight: 300;
	line-height: 26px;
	padding-top: 15px;
	color: #fff;
}

.textoNegritoVerde {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 18.25px;
	font-weight: 500;
	line-height: 26px;
	color: #527400;
}

.textoNegritoAzul {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 18.25px;
	font-weight: 500;
	line-height: 26px;
	color: #00517c;
}

sliderprincipal {
	min-height: 100vh;
}

section {
	-padding-top: 15px;
	padding-bottom: 15px;
	min-height: 83vh;
}

section#footer {
	min-height: 15vh;
	background-color: #00517c;
	background-size: 100% 100%;	
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img.grayscale:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}

.div_quemsomos {
	-background-color: #f2f2f6;
	-background-image: url("../imagens/bg/white_plaster_@2X.png");
    background-image: linear-gradient(to top, #ffffff, #7a9f1f);
}

.div_servicos {
	-background-image: url("../imagens/bg/bright_squares_@2X.png0");
	background-image: linear-gradient(to top, #ffffff, #00517c);
}


.div_contato {
	-background-image: url("../imagens/bg/white_plaster_@2X.png");
    background-image: linear-gradient(to top, #ffffff, #7a9f1f);	
}


.portifolio_row {
	margin-bottom: 20px;
}

.portifolio_row:last-child {
	margin-bottom: 0px;
}

.contato textarea{
	height: 230px;
	margin-bottom: 15px;
}

.contato .aviso {
	padding: 5px 10px 5px 10px;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 18.25px;
	font-weight: 300;
	line-height: 26px;
	color: #000;
	margin-bottom: 10px;
	border-left: solid 3px;
	border-right: solid 0px;
	border-top: solid 0px;	
	border-bottom: solid 0px;	
	border-color: #527400;
}

.servicos .aviso {
	padding: 5px 10px 5px 10px;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 18.25px;
	font-weight: 300;
	line-height: 26px;
	color: #000;
	margin-bottom: 10px;
	border-left: solid 3px;
	border-right: solid 0px;
	border-top: solid 0px;	
	border-bottom: solid 0px;	
	border-color: #00517c;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
	height 100%;
}


